{% extends "base.html" %}
{% block title %}Create a study group{% endblock %}
{% block content %}
{{ super() }}
<div class="jumbotron">
    <div class="container">
        <h1>Create a study group</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="flashMsg">
                {% for msg in get_flashed_messages() %}
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{msg}}</strong>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-4 col-md-offset-4">
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Title</label>
                <input type="text" class="form-control" name="title" placeholder="" />
            </div>
            <!-- get date and time on the same line as well-->
            <div class="mb-3">
                <label class="form-label">Date</label>
                <input type="date" class="form-control" name="date"/>
            </div>
                        <div class="mb-3">
                <label class="form-label">Time</label>
                <input type="time" class="form-control" name="time"/>
            </div>

            <div class="mb-3">
                <label class="form-label">Course</label>
                <input type="text" class="form-control" name="subject" placeholder="" />
            </div>
            <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea class="form-control" name="description" rows="3"></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Location</label>
                <input type="text" class="form-control" name="location" placeholder="e.g., Bobst Library 5th Floor" />
            </div>
            <!--get these two on the same line later-->
            <div class="mb-3">
                <label class="form-label">Min Capacity</label>
                <input type="text" class="form-control" name="minimum" placeholder="e.g., 5" />
                <label class="form-label">Max Capacity</label>
                <input type="text" class="form-control" name="maximum" placeholder="e.g., 8"/>
            </div>

            <input type="submit" class="form-control btn btn-default" value="Create" />
        </form>
        <a href="/" class="btn btn-default">Go Back</a>
    </div>
</div>
{% endblock %}